@charset "UTF-8";
@keyframes pulse-border {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
 
}
body{
  overflow-x: hidden;
}
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d122e3;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #9926f0;
  --bs-secondary: #d122e3;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.name-err, .email-err, .text-err{
  width: 100%;
  color: crimson;
  font-size: 10px;
  font-style: italic;
  padding: 5px 0;
}


.btn-rounded {
  position: relative;
  padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
  font-weight: 700;
  margin: 0;
  border: 0.1rem solid rgba(255, 255, 255, 0.6);
  background-color: #fff;
  display: block;
}
.btn-rounded span {
  position: absolute;
  background-color: #9926f0;
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border-radius: 50%;
}
.btn-rounded span i {
  color: #fff;
  font-size: 1rem;
  line-height: 2.5rem;
}
.btn-rounded:hover {
  background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
  color: #fff;
}
.btn-rounded:hover span {
  background-color: rgba(0, 0, 0, 0.6);
}

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
.display-2--intro {
  display: inline-block;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.display-2--description {
  font-size: 1rem;
  display: block;
  margin-top: 1.2rem;
  text-transform: none;
}
@media (min-width: 992px) {
  .display-2--description {
    font-size: 1.4rem;
    display: inline-block;
  }
}

.heading-line::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: #9926f0;
}

.heading-line::after {
  content: "";
  width: 2rem;
  padding-top: 0.5rem;
  height: 0.2rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: #9926f0;
}

.display-3 {
  font-family: "Poppins", sans-serif;
}
.display-3--title {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  background-image: linear-gradient(to right, #9926f0, #d122e3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 992px) {
  .display-3--title {
    font-size: 1.8rem;
  }
}

.border-right {
  border-right: 0;
}
@media (min-width: 576px) {
  .border-right {
    border-right: 0.1rem solid #dee2e6;
    height: 100%;
  }
}

.gradient {
  background: linear-gradient(to right, rgba(43, 45, 71, 0.95), rgba(167, 163, 223, 0.95));
}

.menu {
  background: linear-gradient(to right, rgba(43, 45, 71, 0.95), rgba(167, 163, 223, 0.95));
}
.menu li {
  padding: 0 0.7rem;
}
.menu li a {
  color: #fff;
  padding: 0 0.7rem;
  text-transform: capitalize;
  font-weight: 600;
}
.menu li:hover {
  color: #fff;
}

.intro-section {
  background: linear-gradient(to right, rgba(43, 45, 71, 0.95), rgba(167, 163, 223, 0.95));
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;
}
.border-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  border: 0.55rem solid #fff;
  border-radius: 50%;
  animation: pulse-border 1.5s linear infinite;
}
.border-animation--border-1 {
  animation-delay: 1s;
}
.border-animation--border-2 {
  animation-delay: 1.5s;
}
@media (min-width: 992px) {
  .services__content p {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  .services__content {
    margin-top: 5rem;
  }
}
.services__content .icon {
  font-size: 1.5rem;
  color: #9926f0;
}

@media (min-width: 992px) {
  .services__content .icon {
    font-size: 2.5rem;
  }
}
.services__pic {
  max-width: 100%;
}

.portfolio {
  padding: 4rem 0;
}
.portfolio button {
  text-transform: capitalize;
}

.portfolio-box {
  position: relative;
  width: 100%;
  height: 18.5rem;
  overflow: hidden;
  margin-bottom: 1.2rem;
  border-top: 0.5rem solid #c685f7;
}
.portfolio-box img {
  width: 100%;
  height: 100%;
}
.portfolio-box .portfolio-info {
  background-color: rgba(153, 38, 240, 0.75);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.portfolio-box .portfolio-info .caption {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portfolio-box .portfolio-info .caption h4 {
  text-transform: uppercase;
  display: block;
}
.portfolio-box:hover img {
  transform: scale(1.5);
  transition-duration: 1s;
  transition-property: all;
}
.portfolio-box:hover .portfolio-info {
  opacity: 1;
  visibility: visible;
  transition-duration: 1s;
  transition-property: all;
}

.get-started {
  padding: 4rem 0;
  background-color: #e9ecef;
}

.cta-info {
  padding: 3rem;
  margin: 1rem 0;
}
.cta-info__list {
  position: relative;
  list-style-type: none;
  display: block;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 0.7rem;
}
.cta-info__list li::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 600;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.form {
  padding: 3rem;
}
.form button {
  border: none;
  color: #fff;
  text-transform: capitalize;
}
.form button a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

.footer {
  padding-top: 1rem;
  background-color: #151414;
}

.contact-box {
  position: relative;
}
.contact-box__icon {
  width: 2rem;
  stroke: #9926f0;
  padding-top: 0.5rem;
}
@media (min-width: 576px) {
  .contact-box__icon {
    width: 4rem;
  }
}
.contact-box__info {
  padding: 0.4rem;
  font-weight: 600;
}
.contact-box__info--title {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
@media (min-width: 576px) {
  .contact-box__info--title {
    font-size: 1.4rem;
  }
}
.contact-box__info--subtitle {
  font-size: 0.8rem;
  color: #6c757d;
  text-decoration: none;
}
@media (min-width: 576px) {
  .contact-box__info--subtitle {
    font-size: 1rem;
  }
}

.footer-sm a {
  color: #fff;
}
.footer-sm a i {
  font-size: 1rem;
  margin-left: 1rem;
}
@media (min-width: 576px) {
  .footer-sm a i {
    font-size: 1.6rem;
  }
}
.footer-sm a:hover {
  color: #9926f0;
}

.footer-bottom {
  background-color: #000;
}
.footer-bottom__copyright {
  color: #6c757d;
  font-weight: 400;
}
.footer-bottom__copyright a {
  color: #dee2e6;
  text-decoration: none;
}
.footer-bottom__copyright a:hover {
  color: #9926f0;
  text-decoration: underline;
}

.back-to-top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  bottom: 1.875rem;
  z-index: 9999;
}
.back-to-top i {
  color: #6610f2;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=style.css.map */
